h1{
    font-family: 'Roboto Slab', serif;
    color: green;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 25px;
    position: relative;
    margin-top: 50px;
}
h1::after {
    border: 1px dashed green;
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 340px;
}
h1::before {
    border: 2px solid green;
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 90px;
}
label{
    margin: 10px 0;
    font-weight: bold;
}
form{
    margin-top: 30px;
}
form input{
    height: 45px;
}
.form-control{
    border-radius: 0;
}